<% flash.each do |type, message| %>
  <% if type == 'alert' %>
    <div class="error">
      <%= message %>
    </div>
  <% else %>
   <div class="flash">
      <%= message %>
    </div>
  <% end%>
<% end %>
